*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    min-height:100vh;

    background:linear-gradient(
        135deg,
        #ffd6e8,
        #e8d6ff
    );

    font-family:Arial,sans-serif;

    display:flex;
    flex-direction:column;
    align-items:center;
}

/* CARD */

.card{

    background:white;

    width:850px;
    max-width:92%;

    margin-top:50px;

    padding:40px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,0.2);

    animation:popup 1s ease;

    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

@keyframes popup{

    0%{
        opacity:0;
        transform:scale(0.5);
    }

    100%{
        opacity:1;
        transform:scale(1);
    }
}

/* TITLE */

.title{

    text-align:center;

    color:#c2185b;

    font-size:clamp(1.5rem,5vw,3rem);

    font-weight:bold;

    line-height:1.2;

    margin-bottom:10px;

    animation:glow 2s infinite alternate;
}

@keyframes glow{

    from{
        text-shadow:0 0 5px pink;
    }

    to{
        text-shadow:0 0 20px hotpink;
    }
}

.subtitle{

    text-align:center;

    margin-bottom:25px;

    color:#7b1fa2;

    font-size:18px;
}

/* PLAYER SECTION */

.player-box{
    margin-bottom:20px;
}

label{

    display:block;

    margin-top:10px;
    margin-bottom:5px;

    font-weight:bold;

    color:#7b1fa2;
}

input,
select{

    width:100%;

    padding:12px;

    border-radius:10px;

    border:1px solid #ccc;

    font-size:16px;
}

input:focus,
select:focus{

    outline:none;

    border:2px solid #b388ff;

    box-shadow:0 0 10px rgba(179,136,255,0.5);
}

/* BUTTON */

#startBtn{

    width:100%;

    padding:14px;

    margin-top:10px;

    border:none;

    border-radius:12px;

    background:#b388ff;

    color:white;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

#startBtn:hover{

    transform:scale(1.05);

    background:#9c64ff;
}

#startBtn:active{

    transform:scale(0.98);
}

/* FOOTER */

.footer{

    width:100%;

    margin-top:300px;

    padding:25px;

    text-align:center;

    background:linear-gradient(
        135deg,
        #fff0f8,
        #f7e9ff
    );

    color:#c2185b;

    font-size:18px;

    font-weight:bold;

    line-height:1.8;

    border-top:3px solid #ffc2e2;
}

/* MOBILE */

@media(max-width:600px){

    .card{

        width:95%;

        padding:20px;
    }

    .title{

        font-size:1.8rem;
    }

    .subtitle{

        font-size:1rem;
    }

    .footer{

        font-size:15px;

        padding:18px;

        margin-top:200px;
    }
}
